<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Demo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
  </head>
  <body>
    <h1>Login</h1>

    <div>
      <h1>With GitHub: <a href="/oauth2/authorization/github">click here</a></h1>
      <h1>With Google: <a href="https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?response_type=code&client_id=754457135461-p35f5v40kjv2leh8qbqim8d7et2k66vh.apps.googleusercontent.com&scope=openid%20profile%20email&state=a4YyGb-cCprBzRm0khl74Kpr3ztTwY0zOHtOkicsmEs%3D&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Flogin%2Foauth2%2Fcode%2Fgoogle&nonce=yhTbIefo_jaIoj43cNrdhgNHZtMCYCiW784HhrTE3DU&flowName=GeneralOAuthFlow">click here</a></h1>
      <h1>With facebook: <a href="https://www.facebook.com/v2.8/dialog/oauth?response_type=code&client_id=930789537802643&scope=public_profile%20email&state=I1f424iJJiz_irBWnqvIMt5WC-oiob2t7l38HES9PCk%3D&redirect_uri=http://localhost:8080/login/oauth2/code/facebook">click here</a></h1>
    </div>
  </body>
</html>